body{
	font-family: 'IBM Plex Mono', monospace;
}
body, ul{
	margin: 0;
	padding:0;
}

h1,h2, .skill-list {
	font-family: 'DM Serif Display', serif;

}

img{
	/*this limit width image*/
	max-width: 100%;
}
nav{
	background-color: #b56060;
	position: fixed;
	z-index: 1;
	width: 100%;
}
header{
	top:70px;
	position: relative;
	margin-bottom:  220px;
	background-image: url('../img/backround1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: -140px; 
}

nav ul li{
	display: inline-block;
	margin: 0 15px;
	padding:0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
}

nav ul{
	margin: 0 auto;
	text-align: center;
	padding: 30px;

}

h1{
	font-size: 100px;
	line-height: 130%;
}
h2{
	font-size: 30px;
	line-height: 130%;
}
h1, h2{
	font-weight: normal;
}
p{
	line-height: 150%;
}

ul li{
	list-style: none;
	margin: 10px 0;
}

.button{
	border: 1px solid rgb(68, 26, 26);
	font-size: 15px;
	border-radius: 20px;
	text-decoration: none;
	color: rgb(104, 7, 7);
	padding: 10px 20px;
	margin-top:40px;
	display: inline-block;
	transition: background 0.5s ease-in-out;
}
.button:hover{
	background:rgb(0, 0, 0);
	color: rgb(135, 34, 34); 

}
figcaption{
	font-size: 10px;
	margin-top: 10px;
}

.intro-img{
	box-shadow: 1px 2px 30px rgba(0,0,0,0.2);
	margin-top: 30px;

}

.skill-list {
	text-align: center;
	font-size: 50px;
	line-height: 150%;
	margin-bottom:130px;
}
.project{
	margin: 30px 0; 
	padding: 50px;
}

.blue{
	background-color:  #d46f6f;
}

.project .button{
	margin-top: 10px;
}
footer{
	text-align: center;
	margin:100px;

}
footer h2{
	font-size: 50px;
	margin-bottom:100px; 

}
.right-alignment{
	text-align: right;
}

li.empty{
	width: 90px;
	border-top: 1px solid rgb(114, 0, 0);
	top:-5px;
	position: relative; 
}

nav li a{
	text-decoration: none;
	color: black;
}
nav li a:hover{
	text-decoration: underline;
}

